.guitarstring{
    display:flex;
    flex-direction:row;
    align-items:center;
    
}
.guitarstring-fret{
    border-right:4px solid grey;
    padding:10px 0px !important;
    margin:0px;
    width:100px;
}

.guitarstring-last{
    border-right:0px !important;
    
}
.guitarstring-last hr{
    border-right:1px solid grey;
    border-left:0px;
    line-height:25px;
}
.guitarstring-first hr{
    border-right:1px solid grey;
    border-left:0px;
    height:0px;
    line-height:25px;
}
.selected-fret-line{
    display:flex;
    flex-direction:row;
    margin:0px;
    padding:0px;
}
.selected-fret-line p{
    margin:0px;
    padding:0px;
    vertical-align: center;
    line-height:40px;
    width:50%;
    font-weight:700;
}
.selected-fret-circle-open-container{
    margin:0px;
    padding:0px;
    vertical-align: center;
    line-height:40px;
    height:100%;
    width:50%;
    font-weight:700;
}
.selected-fret-circle-open{
    display:inline-block;
    background-color:rgb(75, 69, 69);
    border-radius:50%;
    height:17px;
    width:17px;
    padding:0px;
    margin:0px;
}
.selected-fret-circle{
    height:15px;
    width:15px;
    border-radius:50%;
    border:1px solid grey;
    background-color:rgb(75, 69, 69);
    position:absolute;
}
.selected-fret-circle-parent{
    height:15px;
    width:15px;
    padding:0px;
    margin:0px;
    font-weight:700;
}
hr{
    width:98%;
}
.guitar-string-hr-selected-left{
    border-right:0px !important;
}
.guitarstring-fret-dark hr{
    border-color:white;
}
.guitarstring-fret-dark{
    border-color:rgba(238, 218, 218, 0.6);
}
.selected-fret-circle-dark{
    background-color:white;
    border:0px;
}
