.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-name{
  padding-left:2vh;
}
#App-mode-switch{
  padding-right:2vh;
}

